.hero_subtitle img{
    width:3oopx ;
    height: 300px;
}

.hero_content h1{
    font-size: 3.2rem;
    font-weight: 600;
    margin-top: 1rem;
    margin-bottom: 2rem;
    color: var(--heading-color);
}

.hero_content h1 .highlight {
    color: var(--secondary-color);
}

.hero_content p {
    font-size: 1.1 rem;
    color: var(--text-color);
    line-height: 2rem;
}

.hero_img_box img,.hero_img_box video {
    width: 50%;
    height: 350px;
    border-radius: 20px;
    border: 1px solid var(--secondary-color);
    object-fit: cover;
} 